.container {  display: grid;
  grid-template-columns: 0.4fr 1.9fr 0.7fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navegar header lista"
    "navegar Post lista"
    "navegar Post lista";
}

.Post { grid-area: Post; }

.header { grid-area: header; }

.navegar { grid-area: navegar; }

.lista { grid-area: lista; }
